.--bg{
    background: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.start-page{
    flex-flow: column;
}

.start-searching-text{
    text-align: center;
    margin-top: 45px;
    font-weight: 400;
    font-size: 22px;
    color: #808080;

}

.search-icon-start{
    font-size: 65px;
    color: #808080;
}

.--form-width{

}
@media only screen and (min-width: 1000px) {
    .main-container {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        justify-content: space-around;
        margin-top: 30px;
        font-family: 'Inter', sans-serif;
        height: 100vh;
    }
    .--svg-param{
        margin-left: 40px;
        margin-right: 20px;
        width: 40px;
        height: 40px;
    }
    .repo-num{
        font-weight: 600;
        font-size: 32px;

    }

    .repo-all{
        font-size: 16px;
    }

    .repo-text{
        font-weight: 500;
        padding-top: 20px;
        padding-left: 30px;
    }

    .repo-name{
        font-size: 24px;
        color: #0064EB;
    }

    .round {
        border-radius: 50%;
        border: none;
        width: 280px;
        height: 280px;
    }
}

.form-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #0064EB;
    height: 72px;
}

.repo-container{
    width: 900px;
    height: 100px;
    background: white;
    margin-top: 20px;
    border-radius: 6px;
}

.search-line{
    height: 40px;
    border-radius: 3px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-left: none !important;
}

.search-icon{
    height: 40px;
    border-right: 0px solid !important;
}




.user-name{
    font-weight: 600;
    f0nt-size: 26px;
    margin-bottom: 12px;
}

.user-login{
    font-weight: 400;
    f0nt-size: 18px;
    color: #0064EB;
    margin-bottom: 25px;
}

.svg-users{
    height: 30px;
    width: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.svg-users-2{
    height: 20px;
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.user-not-found-svg, .empty-repo-svg{
    text-align: center;
    margin-top: 45px;
    font-weight: 400;
    width: 65px;
    height: 75px;
    color: #808080;
}

.user-not-found-page{
    height: 100vh;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.user-not-found-text, .empty-repo-text{
    text-align: center;
    margin-top: 45px;
    font-weight: 400;
    font-size: 22px;
    color: #808080;
}

.empty-repo-page{
    flex-flow: column;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.view-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.empty-repo-container {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

.empty-repo-inner{
    display: flex;
    flex-flow: column;
    align-items: center;
}